# Domain & Traefik configuration
DOMAIN=cine.feexel.tech
JELLYFIN_DOMAIN=jellyfin.feexel.tech
CERT_RESOLVER=myresolver

# Jellyfin API Key for automatic library scanning and active session checks
JELLYFIN_API_KEY=

# WebRTC STUN / TURN Configuration
VITE_STUN_SERVER=stun:stun.l.google.com:19302
VITE_TURN_SERVER=
VITE_TURN_USERNAME=
VITE_TURN_PASSWORD=
